{% extends "base.html" %}

{% block title %}
Inicio - Juegos App
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="game-title">¡Bienvenido a Juegos App!</h2>
    <p class="intro-text">Explora el épico mundo de los videojuegos con nosotros.</p>
    <a href="{{ url_for('buscar_juegos') }}">
        <img src="{{ url_for('static', filename='img/mando.png') }}" alt="Mando Juegos App" class="game-logo">
    </a>
    <div class="game-teaser">
        <p>Descubre las mejores aventuras y batallas en nuestra colección de juegos.</p>
    </div>
</div>
{% endblock %}
